/*
 /$$$$$$$  /$$$$$$$$                     /$$$$$$         /$$$$$$                  /$$          
| $$__  $$|__  $$__/                    /$$__  $$       /$$__  $$                | $$          
| $$  \ $$   | $$         /$$  /$$  /$$|__/  \ $$      | $$  \__/  /$$$$$$   /$$$$$$$  /$$$$$$ 
| $$$$$$$/   | $$ /$$$$$$| $$ | $$ | $$   /$$$$$/      | $$       /$$__  $$ /$$__  $$ /$$__  $$
| $$____/    | $$|______/| $$ | $$ | $$  |___  $$      | $$      | $$  \ $$| $$  | $$| $$$$$$$$
| $$         | $$        | $$ | $$ | $$ /$$  \ $$      | $$    $$| $$  | $$| $$  | $$| $$_____/
| $$         | $$        |  $$$$$/$$$$/|  $$$$$$/      |  $$$$$$/|  $$$$$$/|  $$$$$$$|  $$$$$$$
|__/         |__/         \_____/\___/  \______/        \______/  \______/  \_______/ \_______/  */


#principal{
	width: 900px;
	height: auto; overflow: hidden;
	border: 0px solid #000;
	margin: auto;

}

header{
	width: 900px;
	height: 100px;
	border: 0px solid #000;
}

#logo{
	width: 200px;
	height: 100px;
	border: 0px solid #000;
	float: left; font-family: sans-serif;
}


.menu{
	width: 460px;
	height: 40px;
	border: 1px solid #ccc;
	float: right;
	margin-top: 40px;
	background: #006699;
}

.menu ul{}

.menu ul li{
	list-style: none;
	float: left;
}

.menu ul li a{
	text-decoration: none;
	padding: 10px 15px;
	border: 0px solid #ccc;
	color: #fff; 
}

.menu ul li a:hover{
	background: #fff;
	color: #006699;
	transition: background 1s, color 1s;
}





#izq{
	width: 585px;
	height: auto; overflow: hidden;
	border: 1px solid #ccc;
	float: left;
	padding: 5px; color: #4682b4;
}

.img{
	margin-right: 7px;
	margin-bottom: 7px;
}


#der{
	width: 290px;
	height: 300px;
	border: 1px solid #ccc;
	float: right;
	color: 
}

footer{
	width: 900px;
	height: 100px;
	text-align: center;
}

#footer p{
	width: 500px;
}

table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
	
}

table#tabla-tipo1{
	width: 100%;
	background-color: #FFB200
}

table#tabla-tipo2{
	width: 100%;
	background-color: #00FF93
}

/*Boton*/

		#boton-main-container{
			padding-top: 200px;
			text-align: center;
		}

		.btn{
			border-radius: 3px;
			display: inline-block;
			padding: 20px 15px;
			text-decoration: none;
			text-shadow: 0 1px 0 rgba(255,255,255,0.3);
			box-shadow: 0 1px 1px rgba(0,0,0,0.3); 
		}

		.btn-green{
			color: white;
			background-color: #3CC93F;
		}
		.btn-green:hover{
			background-color: #37B839;	
		}
		.btn-green:active{
			background-color: #29962A;
		}

		.btn-red{
			color: white;
			background-color: #E34242;
		}
		.btn-red:hover{
			background-color: #C43535;	
		}
		.btn-red:active{
			background-color: #A62828;
		}
